---
import '../styles/global.css';
import 'balloon-css';
import { Header } from '@/components/Header';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Front-end Engineer with 10+ years building scalable web and mobile applications." } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Luiz Almeida</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header client:idle />
		<slot />
	</body>
</html>
